.mainSec1{
    display: flex;
}
.ms1txt{
    top: 222px;
    left: 132px;
    width: 453px;
    position: absolute;
}
.ms1Vol{
    height: 136px;
    color: var(--black-100, #010101);
    font-family: navFont;
    font-size: 63px;
    font-style: normal;
    font-weight: 900;
    line-height: 68px; /* 107.937% */
}
.ms1Desc{
    width: 380px;
    margin-top: 23px;
    color: var(--black-60, #676767);
    font-family: navFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}
.ms1Btns{
    width: 365px;
    margin-top: 51px;
    display: flex;
}
.ms1Btnl{
    width: 157px;
    height: 46px;
    border: 0px;
    border-radius: 4px;
    margin-right: 20px;
    background: var(--primary-100, #ED017F);
    color: #FFF;
    text-align: center;
    font-family: navFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}
.ms1Btnl:hover{
    cursor: pointer;
    width: 207px;
    transition: 0.5s;
    background: var(--primary-100, #9c1c60);
}
.ms1Btnr{
    width: 188px;
    height: 46px;
    color: var(--primary-100, #ED017F);
    border-radius: 4px;
    border: 1px solid var(--primary-100, #ED017F);
    text-align: center;
    font-family: navFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.ms1Btnr:hover{
    cursor: pointer;
    width: 238px;
    transition: 0.5s;
    background: var(--primary-100, #c5c5c5);
}
.coloredBack{
    width: 710px;
    height: 682px;
    top: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    background: #FFEAF5;
}
.famPhot{
    width: 883px;
    height: 604px;
    top: 149px;
    left: -173px;
    position: absolute;
    background: url(../../img/t2PuBsfgkl__1_-removebg-preview\ \(1\)\ 1.png), rgba(211, 211, 211, 0) -0.064px 0px / 100.014% 100% no-repeat;
}
.contacts{
    margin-top: 185px;
    display: flex;
    width: 265px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}
.contacts p{
    color: var(--black-100, #010101);
    text-align: center;
    font-family: navFont;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 129.412% */
    letter-spacing: 1px;
}
.flyingBtn{
    position: absolute;
    display: inline-flex;
    height: 71px;
    padding: 0px 27px;
    align-items: center;
    gap: 19px;
    flex-shrink: 0;
    border-radius: 55px;
    background: var(--white, #FFF);
    box-shadow: 4px 4px 58px 0px rgba(0, 0, 0, 0.12);
    border: none;
    transition: 0.5s;
    color: var(--black-80, #343434);
    font-family: navFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 122.222% */
}
.flyingBtn:hover{
    background: var(--white, #d8d8d8);
    transition: 0.5s;
}
.flyingBtn.c{
    margin-top: 30px;
    margin-left: 102px;
}
.flyingBtn.h{
    margin-top: 142px;
    margin-left: 620px;
}
