.sec2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sec2volCont{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sec2vol{
    color: var(--black-80, #343434);
    text-align: center;
    /* Menu */
    font-family: navFont;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; /* 119.444% */
}
.sec2desc{
    width: 660px;
    color: var(--black-40, #999);
    text-align: center;
    margin-top: 20px;

    /* Subtitle */
    font-family: navFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}
.cardCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 76px;
    margin-bottom: 72px;
}
.card{
    display: flex;
    width: 259px;
    padding: 24px;
    margin: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}
.cardVol{
    color: var(--text, #363940);
    font-family: navFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
}
.cardDesc{
    width: 160px;
    color: var(--black-40, #999);
    font-family: navFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
